<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Homepage</title> 
    <style>
      .flex-wrapper {
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        grid-gap: 35px;
      }
    </style>
</head> 
<body>
  <div class="flex-wrapper">
    {% for video in videos_list %}
      <div>
        <h4>{{ video.title }}</h4>
        <img src='{{ video.thumbnail_url }}' style="height: 360px; width:480px" />
        <p>
          {{ video.description }}
          <br>
          {{ video.published_date }}
        </p>
      </div>
    {% endfor %}
  </div>
    {% if is_paginated %}
    <ul class="pagination">
    {% if page_obj.has_previous %}
        <li>
            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
        </li>
    {% endif %}
        <li class="">
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        </li>
    {% if page_obj.has_next %}
        <li>
            <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        </li>
    {% endif %}
    </ul>
    {% else %}
        <h3>Vides are not available yet.</h3>
    {% endif %}
</body> 
</html> 
